/* assets/css/cart.css */
#cart-summary {
    margin: 20px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

#cart-items-header, .cart-item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #F0F0F0;
    color: #333;
}

#cart-items-header {
    background-color: #F5F5F5;
    font-weight: bold;
    text-transform: uppercase;
}

#cart-items-header div:nth-child(5), .cart-item div:nth-child(5) {
    text-align: center;
}

.cart-item {
    background-color: #FFF;
}

#subtotal {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

#checkout-button {
    display: block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #008cba;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}

#checkout-button:hover {
    background-color: #005a70;
}

#subtotal, #checkout-button {
    margin-left: auto;
}

.view-cart-button {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
}