body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
}

#loginModalContent {
    width: 300px;
    display: flex;
    flex-direction: column;   /* changed this from 'center' to 'column' */
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    position: relative;      /* added for positioning .close button */
}

#loginModalContent .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginModalContent input {
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#loginModalContent p {
    margin-top: 25px;
    text-align: center;
    color: #333;
    font-size: 16px;
}

#loginModalContent p a {
    color: #007BFF;
    text-decoration: none;
}

#loginModalContent p a:hover {
    color: #0056b3;
    text-decoration: underline;
}

#loginModalContent .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;      /* added for positioning .close button */
    right: 10px;             /* added for positioning .close button */
    top: 10px;               /* added for positioning .close button */
}

#loginModalContent .close:hover,
#loginModalContent .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}