/* Product Detail Page Styles */
#product-title {
    font-size: 2rem;
    color: #333;
}

#product-availability {
    color: #007600;
    margin-bottom: 1rem;
}

#product-description {
    color: #666;
    margin-bottom: 2rem;
}

#product-price {
    color: #B12704;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.add-to-cart-button {
    font-weight: bold;
    color: #fff;
    background-color: #B12704;
    border-color: #a6261a;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,.15);
    transition: box-shadow .3s ease-in-out;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 1rem;
    text-align: center;
    vertical-align: middle;
    width: auto;
}

.add-to-cart-button:hover {
    box-shadow: 0 2px 5px 2px rgba(0,0,0,.3);
}

.product-details{
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 2rem 0;
    margin: 1rem 0;
}