<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EStore</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<header>
    <div class="container">
        <h1>Welcome to EStore!</h1>
        <div class="search-container">
            <form id="search-form">
                <input type="text" id="search-query" placeholder="Search products">
                <button id="searchSubmit" type="submit">Search</button>
            </form>
        </div>

        <div id="user-controls">
            <div id="user-logged">
                <span id="logged-username">Username</span>
                <div id="cart">
                    <img src="../assets/images/cart_icon.jpg" alt="Cart Icon"> <!-- Placeholder for cart icon -->
                </div>
                <div id="user-menu">
                    <a href="/profile">Profile</a>
                    <button id="logoutButton">Logout</button>
                </div>
            </div>
            <div id="user-not-logged">
                <button id="loginButton">Login</button>
            </div>
        </div>

    </div>
</header>

<nav>
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#">Category</a>
                <div class="dropdown-content" id="categories">
                    <!-- Categories will be added here by JavaScript -->
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="container">
    <div id="sort-dropdown">
        <select>
            <option value="price-asc">Price (low to high)</option>
            <option value="price-desc">Price (high to low)</option>
            <option value="quantity-asc">Quantity (low to high)</option>
            <option value="quantity-desc">Quantity (high to low)</option>
        </select>
    </div>

    <h2>Our Products</h2>
    <div class="breadcrumbs"></div> <!-- Breadcrumbs container -->
    <div id="product-filters"><!-- Filters will be added here --></div>
    <div id="products" class="product-grid">
        <!-- Product elements will be added here by JavaScript -->
    </div>
</section>

<div id="loginModal">
    <div id="loginModalContent">
        <span class="close">&times;</span>
        <div class="form-container">
            <form id="loginForm">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Login">
            </form>
            <p>Don't have an account? <a href="/registerPage">Register</a></p>
        </div>
    </div>
</div>

<script src="../assets/javascript/login.js"></script>
<script src="../assets/javascript/main.js"></script>
</body>
</html>
