<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EStore</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/product.css">
</head>
<body>
<header>
    <div class="container">
        <h1>Welcome to EStore!</h1>
        <div class="search-container">
            <form id="search-form">
                <input type="text" id="search-query" placeholder="Search products">
                <button id="searchSubmit" type="submit">Search</button>
            </form>
        </div>

        <div id="user-controls">
            <div id="user-logged">
                <span id="logged-username">Username</span>
                <div id="user-menu">
                    <a href="/profile">Profile</a>
                    <button id="logoutButton">Logout</button>
                </div>
            </div>
            <div id="cart">
                <a> <img src="../assets/images/cart_icon.jpg" alt="Cart Icon">
                    <span id="cart-badge" class="badge">0</span>
                </a>
            </div>
            <div id="user-not-logged">
                <button id="loginButton">Login</button>
            </div>
        </div>

    </div>
</header>

<nav>
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#">Category</a>
                <div class="dropdown-content" id="categories">
                </div>
            </li>
            <li class="dropdown"> <a href="#">Brand</a>
                <div class="dropdown-content" id="brands">
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="products-header">
    <div id="sort-dropdown">
        <label for="sort-products">Sort Products:</label>
        <select id="sort-products">
            <option value="price-asc">Price (low to high)</option>
            <option value="price-desc">Price (high to low)</option>
            <option value="quantity-asc">Quantity (low to high)</option>
            <option value="quantity-desc">Quantity (high to low)</option>
        </select>
    </div>
    <h2>Our Products</h2>
    <div class="breadcrumbs"></div>
</section>


<section class="container">
    <section id="product-details-container" style="display: none;"></section>
    <div id="product-filters"></div>
    <div id="products" class="product-grid">
    </div>
</section>

<div id="loginModal">
    <div id="loginModalContent">
        <span class="close">&times;</span>
        <div class="form-container">
            <form id="loginForm" , method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Login">
            </form>
            <p>Don't have an account? <a href="#" id="registerLink">Register</a></p>
        </div>
    </div>
</div>

<script src="../assets/javascript/main.js"></script>
<script src="../assets/javascript/cart.js"></script>
<script src="../assets/javascript/login.js"></script>
</body>
</html>
