<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="../assets/css/product.css">
<body>
<section class="product-details">
    <div class="product-info">
        <h1 id="product-title">{{product.name}}</h1>
        <p class="availability" id="product-availability">{{product.inStock}}</p>
        <p class="price" id="product-price">{{product.price}}</p>
        <p class="description" id="product-description">{{product.description}}</p>
        <button class="add-to-cart-button">Add to Cart</button>
    </div>
</section>
</body>
</html>