<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
    <nav class="breadcrumbs">
        <a href="/">Home</a> &raquo; <span id="product-category"></span> &raquo; <span id="product-brand"></span>
    </nav>

    <section class="product-details">
        <div class="product-info">
            <p class="availability" id="product-availability"></p>
        </div>
    </section>
    <section class="product-details">
        <div class="product-image">
            <img src="" alt="Product Image" id="product-image">
        </div>
        <div class="product-info">
            <h1 id="product-title"></h1>
            <p class="description" id="product-description"></p>
            <div class="price-action">
                <h2 id="product-price"></h2>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </div>
    </section>
</div>
<script src="../assets/javascript/product.js"></script>
</body>
</html>
