<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="../assets/css/profile.css">
</head>
<body>
<header>
    <h1>Your Profile</h1>
</header>

<section>
    <form id="profileForm" class="profileForm">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required disabled>

        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="address">Address</label>
        <input type="text" id="address" name="address" required>

        <label for="postCode">Postcode</label>
        <input type="text" id="postCode" name="postCode" required>

        <button type="submit">Update Profile</button>
    </form>
</section>

<script src="../assets/javascript/profile.js"></script>
</body>
</html>
