<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../assets/css/Register.css">
</head>
<body>
<header>
    <h1>Register for EStore</h1>
</header>

<section>
    <form id="registerForm">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="firstName">First name:</label><br>
        <input type="text" id="firstName" name="firstName" required><br>
        <label for="lastName">Last name:</label><br>
        <input type="text" id="lastName" name="lastName" required><br>
        <label for="phone">Phone Number:</label><br>
        <input type="text" id="phone" name="phone" required><br>
        <input type="submit" value="Register">
    </form>
</section>

<script src="../assets/javascript/Register.js"></script>
</body>
</html>